// This is for stylizing, generally, the heading section on _pages
// This page applies to <main> elements with the class "general-main"

.general-main {
  padding: 0 20px;
  margin-top: $section-lead;

  section {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;
    justify-items: center;
    grid-template-areas:
      "avatar text text"
      ". table table";

    .avatar {
      grid-area: avatar;
    }

    table {
      grid-area: table;
      align-self: center;
    }

    .commentary-text {
      grid-area: text;

      .bold-text {
        @include font-emphasis;
      }
    }
  }

}
