// affects all navigations on all _pages

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 15px;
  z-index: 100;
  background: white;
  border-bottom: black 3px solid;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, .5);

  .width-container { // which is just a div that contains the max width
    display: flex;
    justify-content: space-between;

    @include media($media-tablet) {
      max-width: $media-tablet;
      margin-left: auto;
      margin-right: auto;
    }

    @include media($media-desktop) {
      max-width: $media-desktop;
    }
  }

  a {
    display: inline-block;
    height: 50px;
    min-width: 50px;

  }

  img {
    max-height: 40px;
    margin-top: -5px;
  }

  h1 {
    display: inline-block;
    margin-top: -10px;
    @include moz-fix {
      margin-bottom: -5px;
    }
  }

// the below elements are for creating the tri-color blue underlining the nav bar at the top of each page
  span {
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  .blue-ribbon {
    width: 50%;
    z-index: 3;
    background-color: $primary-color;
  }
  .light-ribbon {
    width: 70%;
    z-index: 2;
    background-color: $accent-color;
  }

  .white-ribbon {
    width: 80%;
    background-color: white;
  }
}
