@import url("https://use.typekit.net/nul4bgv.css"); // josefin sans
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,500;1,700&display=swap'); //Garamond


* {
  text-decoration: none;
}

a {
  color: black;
  @include font-regular;
}

h1 {
  @include font-bold;
  font-size: $font-size-heading;
}

h2 {
  @include font-light;
  font-size: $font-size-subheading;
}

p {
  @include font-regular;
  font-size: $font-size-body;
  text-align: justify;
  line-height: $font-body-lineheight;
}

.long-article {
  p {             // for adjusting paragraphs within articles
    margin-bottom: $paragraph-lead;
    font-size: $font-size-reading;
    text-align: left;
  }

  em {
    @include font-article-emphasis;
  }
}

/******************************************
text classes // for one-off fixes
******************************************/

.small-heading {
  @include font-bold;
  font-size: $font-size-subheading;
}

.text-center {
  text-align: center;
}

.justify-left {
  text-align: left;
}

.commentary-text {
  @include font-light-emphasis;
}

.bold-text {
  @include font-bold;
}

.bold-text-em {
  @include font-bold-emphasis;
}

.white-text {
  color: white;
}
